<div class="container">
    <div class="logo">

        <a routerLink="home">
        <img src="assets/img/logo.png" alt="Imagem de Carro"></a>

        <div class="links">
       
            <div class="links">
                <a mat-list-item routerLink="home"><i class="material-icons">home</i> Home</a>
                <a mat-list-item routerLink="usuarios"><i class="material-icons">person</i> Usuarios</a>
                <a mat-list-item routerLink="carros"><i class="material-icons">directions_car</i> Carros</a>
                <a mat-list-item href="https://github.com/IgorDv5/InfoCar-FrontEnd" target="_blank" ><i class="material-icons">code</i> GitHub</a>
                <a mat-list-item routerLink="" (click)="logout()"><i class="material-icons">logout</i> Logout</a>
            </div>
            
        
    </div>
    </div>
    <router-outlet></router-outlet>
</div>