<div class="container">
    <div class="logo">
        <img src="assets/img/car-image.svg" alt="Imagem de Carro">
        <h1>InfoCar</h1>
        <div class="links">
       
            <div class="links">
                <a mat-list-item routerLink="/"><i class="material-icons">home</i> Home</a>
                <a mat-list-item routerLink="/"><i class="material-icons">person</i> Usuarios</a>
                <a mat-list-item routerLink="/"><i class="material-icons">code</i> GitHub</a>
                <a mat-list-item routerLink="/"><i class="material-icons">logout</i> Logout</a>
            </div>
            
        
    </div>
    </div>
</div>