<mat-card class="card">
    <mat-card-header>
      <mat-card-title>InfoCar</mat-card-title>
      <mat-card-subtitle>Home</mat-card-subtitle>
    </mat-card-header>
    <div class="img-home">
    <img mat-card-image src="assets/img/home.svg" alt="Imagem da Home">
    </div>
    <mat-card-content>
      <p>
       Olá! Seja Bem Vindo ao Sistema Info Car Desenvolvido por mim<br>
       Ele Tem A Função de Listar,Cadastrar,Atualizar,Excluir Usuarios e Carros<br>
       Desenvolvido Usando SpringBoot e Angular
      </p>

      <div class="dev">
        Desenvolvido por Igor Dantas
      </div>
    </mat-card-content>
  </mat-card>