<div class="container mat-elevation-z8">

    <h1>Cadastro de Usuario</h1>

    <img class="full-width" src="assets/img/create.svg" alt="Imagem de Cadastro">

    <form class="form">
        <mat-form-field class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Mathias">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Ex. ###.###.###-##">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="Ex. exemplo@email.com">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
 
        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Ex. 123">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Função</mat-label>
            <mat-select>
                <mat-option value="Administrador">Administrador</mat-option>
                <mat-option value="Vendedor">Vendedor</mat-option>
                <mat-option value="Cliente">Cliente</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary">Cadastrar</button>
        <button mat-raised-button color="warn">Cancelar</button>

    </form>

    <p class="full-width"> Developed by Igor Dantas </p>

</div>
